body {
    background: url('beholder_s_battle_by_rainerpetterart-d9ynzbm.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dado{
    text-align: center;
    margin-top: 100px;  
    margin: 0;
    padding: 0;
    height: 10px;  
}

.titulo {
    margin: 0;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: white; 
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
    font-size: 80px;
    border-radius: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(63deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0.44861694677871145) 100%);
     
}

#message{    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 400px;
    margin-right: 400px; 
    font-size: 30px;
    border-radius: 40px;
    background: rgb(0,0,0);
    background: linear-gradient(63deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0.44861694677871145) 100%);
}

#d20Resultado{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
    color: #ffffff;
}

.botao {
    background: #FF0000;
    background-image: -webkit-linear-gradient(top, #FF0000, #000000);
    background-image: -moz-linear-gradient(top, #FF0000, #000000);
    background-image: -ms-linear-gradient(top, #FF0000, #000000);
    background-image: -o-linear-gradient(top, #FF0000, #000000);
    background-image: -webkit-gradient(to bottom, #FF0000, #000000);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    width: 233px;
    font-size: 28px;
    font-weight: 900;
    padding: 26px;
    text-shadow: 3px 1px 0 #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .botao:hover {
    border: dotted #337FED 0;
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #FF0000);
    background-image: -moz-linear-gradient(top, #000000, #FF0000);
    background-image: -ms-linear-gradient(top, #000000, #FF0000);
    background-image: -o-linear-gradient(top, #000000, #FF0000);
    background-image: -webkit-gradient(to bottom, #000000, #FF0000);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    text-decoration: none;
 }
/*.botao {
    background: #000000;
    border-radius: 57px;
    line-height: 1;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 15px;
    box-shadow: inset 0 13px 20px 0 #DD380D;
    text-shadow: 3px 1px 6px #FF0000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .botao:hover {
    border: outset #000000 0;
    background: #FF0000;
 
    border-radius: 57px;
    text-decoration: none;
 }*/

 .d20{
     position: center;
     align-items: center;
     justify-items: stretch;
 }
